<div class="row text-center">
<div class="large-4 medium-4 columns download-icons">
	<i class="fa fa-linux fa-5x"></i>
	<h3 class="index-header">Linux AppImage</h3>

    {{ with .Site.Data.release.appimage }}
    <p class='dl-links'>
		<a title="Download digiKam {{ $.Site.Data.release.version }} 64-bit AppImage" href="https://download.kde.org/stable/digikam/{{ .b64.file }}">64-bits</a> 
        / 
        <a title="Download digiKam {{ $.Site.Data.release.version }} 32-bit AppImage" href="https://download.kde.org/stable/digikam/{{ .b32.file }}">32-bits</a> 
	</p>
    {{ end }}
</div>
<div class="large-4 medium-4 columns download-icons">
	<i class="fa fa-windows fa-5x"></i>
	<h3 class="index-header">Windows</h3>

    {{ with .Site.Data.release.win }}
	<p class='dl-links'>
        <a title="Download digiKam {{ $.Site.Data.release.version }} 64-bit for Windows" href="https://download.kde.org/stable/digikam/{{ .b64.file }}">64-bits</a> / 
        <a title="Download digiKam {{ $.Site.Data.release.version }} 32-bit for Windows" href="https://download.kde.org/stable/digikam/{{ .b32.file }}">32-bits</a> 
	</p>
	{{ end }}
</div>
<div class="large-4 medium-4 columns download-icons">
	<i class="fa fa-apple fa-5x"></i>
	<h3 class="index-header">Mac</h3>

    {{ with .Site.Data.release.macos }}
		<p class='dl-links'>
            <a title="Download digiKam {{ $.Site.Data.release.version }} 64-bit for macOS" href="https://download.kde.org/stable/digikam/{{ .b64.file }}">64-bits</a> 
        </p>
		{{ end }}
</div>
</div>

<div class="row">
	<div class="large-12 columns all-downloads">
		<p class="dl-links">
			<a href="http://download.kde.org/stable/digikam/">See all downloads! </a>
		</p>
	</div>
</div>
